<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.ProductDetailMapper">

    <resultMap id="productDetailResultMap" type="ProductDetail">
        <id property="id" column="id"/>
        <result property="category" column="category"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="imageUrl" column="imageUrl"/>
    </resultMap>

    <select id="getProductById" parameterType="int" resultType="ProductDetail">
        SELECT * FROM ProductDetail WHERE id = #{id}
    </select>

</mapper>


